/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
/.server.key
/.web-type
/!.github
/bootstrap/cache/*.php

# Rocketeer
.rocketeer/
!artisan

# DDEV
.ddev/

# Docker
docker-compose.override.yml

# Linux
*.swp
*.bak
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.Trashes
.fseventsd
.Spotlight-V100

# PHPStorm
.idea/

# Yarn
yarn-debug.log*
.pnp.*